# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# NetBeans
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Maven
target/
*.tag
*.releaseBackup
*.versionsBackup

# Compiled
*.class
*.jar
*.war

# OS
.DS_Store
Thumbs.db
